<nav class="navbar navbar-expand mb-0 p-2 top_header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-link">
          <strong>Term21</strong>
        </li>

 

        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-layers-tab" data-bs-toggle="pill" data-bs-target="#pills-layers" type="button" role="tab" aria-controls="pills-layers" aria-selected="false">Layers</button>
        </li>
      </ul>

    </div>
  </nav>




